<div class="position-relative overflow-hidden text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">DESARROLLADOR FULL STACK</h1>
    <p class="lead font-weight-normal">
      Soy desarrollador senior con más de 9 años de experiencia en desarrollo web bajo diferentes plataformas, me especializo en la elaboración de interfases amigables, úsales y con excelente rendimiento, trabajo tanto la parte front como el bakend, soy conocedor de múltiples frameworks y herramientas lo cual me ha permitido tener la experiencia de convertirme en desarrollador fullstack.
    </p>
    <p class="lead font-weight-normal">
      Durante estos años he tenido la oportunidad de liderar proyectos permitiéndome  ser más versátil en mi trabajo y en las decisiones que afectan al equipo logrando los objetivos deseados e impulsando las capacidades de mi equipo de trabajo.  
    </p>
  </div>
</div>

<div class="card-deck text-center w-100 m-md-0">

  <div class="card m-md-0">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="./assets/imgs/portfolio/bk-avante.jpg" class="img-fluid">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><a href="https://www.avante.edu.co/">Avante</a></h5>
          <p class="card-text">Plataforma de cursos online</p>
          <p class="card-text item-tech">
            <span class="badge badge-primary">Yii</span>
            <span class="badge badge-primary">CSS</span>
            <span class="badge badge-primary">Jquery</span>
            <span class="badge badge-primary">PHP</span>
            <span class="badge badge-primary">Javascript</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card m-md-0">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="./assets/imgs/portfolio/bk-kandeo.jpg" class="img-fluid">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><a href="https://www.kandeofund.com/">Kandeo</a></h5>
          <p class="card-text">Sistema de gestion financiero para controlar los ingresos de diferentes empresas</p>
          <p class="card-text item-tech">
            <span class="badge badge-primary">Codeigniter</span>
            <span class="badge badge-primary">CSS</span>
            <span class="badge badge-primary">Jquery</span>
            <span class="badge badge-primary">PHP</span>
            <span class="badge badge-primary">Javascript</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card m-md-0">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="./assets/imgs/portfolio/bk-licify.jpg" class="img-fluid">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><a href="https://www.avante.edu.co/">Licify</a></h5>
          <p class="card-text">Sistema de gestion de licitaciones </p>
          <p class="card-text item-tech">
            <span class="badge badge-primary">Angular</span>
            <span class="badge badge-primary">CSS</span>
            <span class="badge badge-primary">Node js</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card m-md-0">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="./assets/imgs/portfolio/experienceBeat.jpg" class="img-fluid">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">ExperienceBeat</h5>
          <p class="card-text">Sistema de encuestas </p>
          <p class="card-text item-tech">
            <span class="badge badge-primary">Angular</span>
            <span class="badge badge-primary">CSS</span>
            <span class="badge badge-primary">Firebase</span>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="card-deck text-center w-100 m-md-0">

  <div class="card m-md-0"></div>
  <div class="card m-md-0">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="./assets/imgs/portfolio/leyex.jpg" class="img-fluid">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Leyex</h5>
          <p class="card-text">App tipo académica e investigativa con información económica y jurídica de Colombia </p>
          <p class="card-text item-tech">
            <span class="badge badge-primary">Ionic</span>
            <span class="badge badge-primary">Cordova</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card m-md-0">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="./assets/imgs/portfolio/growpro.jpg" class="img-fluid">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Growpro</h5>
          <p class="card-text">App para que un estudiante pueda ver los eventos de Growpro, anuncios y posibles veneficios </p>
          <p class="card-text item-tech">
            <span class="badge badge-primary">Ionic</span>
            <span class="badge badge-primary">Capacitor</span>
            <span class="badge badge-primary">Firebase</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card m-md-0"></div>

</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Cine Colombia</h1>
  <p class="lead">En este proyecto se desarrollo un asistente cognitivo para automatizar la informacion de las peliculas y la venta de boleteria  </p>
</div>

<div class="container">

  <div class="card-deck mb-3 text-center">

    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Levantamiento de información</h4>
      </div>
      <div class="card-body">
        <p>Se tuvieron varias sesiones de levantamiento para saber cómo implementariamos los diálogos y el flujo del asistente </p>
      </div>
    </div>

    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Diseño de dialogos</h4>
      </div>
      <div class="card-body">
        <p>Luego de tener los posibles escenarios de cada diálogo se montaron los flujos en IBM Watson assistant y se entreno el asistente diariamente </p>
      </div>
    </div>

    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Sketch</h4>
      </div>
      <div class="card-body">
        <p>Como la implementación era con el chat de facebook se construyeron algunos diseños basándose en los temas soportados por el API de Facebook</p>
      </div>
    </div>
  </div>
        
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Desarrollo de Servicios</h4>
      </div>
      <div class="card-body">
        <p>Se hizo una doble capa de servicios para que el asistente pudiera consumir la información, se pasó de un modelo SOAP a REST con microservicios en IBM cloud Functions para medir y optimizar la carga de información</p>
      </div>
    </div>
  </div>
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="display-4">Páginas Corporativas</h2>
  </div>
  <div class="d-flex flex-row">
    
    <div class="d-flex flex-column">
       <a href="https://clientix.co/" target="_blank"><img src="./assets/imgs/portfolio/bk-clientix.jpg" class="img-fluid"></a>
       <a href="https://coopcafam.coop/" target="_blank"><img src="./assets/imgs/portfolio/bk-cafam.jpg" class="img-fluid"></a>
       <a href="https://www.bancamia.com.co/" target="_blank"><img src="./assets/imgs/portfolio/bk-bancamia.jpg" class="img-fluid"></a>
       <a href="https://www.cruzrojacolombiana.org/" target="_blank"><img src="./assets/imgs/portfolio/bk-cruz.jpg" class="img-fluid"></a>
       <a href="https://gimnasiofemenino.edu.co/" target="_blank"><img src="./assets/imgs/portfolio/bk-femenino.jpg" class="img-fluid"></a>
    </div>
    <div class="d-flex flex-column">
      <a href="https://www.somos.co//" target="_blank"><img src="./assets/imgs/portfolio/bk-somos.jpg" class="img-fluid"></a>
      <a href="https://www.alianza.coop/index" target="_blank"><img src="./assets/imgs/portfolio/bk-alianza.jpg" class="img-fluid"></a>
      <a href="http://www.just-fit.com/" target="_blank"><img src="./assets/imgs/portfolio/bk-just.jpg" class="img-fluid"></a>
      <a href="https://www.pinillalegal.com/" target="_blank"><img src="./assets/imgs/portfolio/bk-pinilla.jpg" class="img-fluid"></a>
      <a href="https://imocom.com.co/" target="_blank"><img src="./assets/imgs/portfolio/bk-imocom.jpg" class="img-fluid"></a>
    </div>

  </div>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="display-4">Otros</h2>
  </div>
  
    <div class="con-pages">
      <span class="badge badge-info">Wepiku</span>
      <span class="badge badge-info">Milenian</span>
      <span class="badge badge-info">ACP</span>
      <span class="badge badge-info">Taxis ya</span>
      <span class="badge badge-info">Samefi</span>
      <span class="badge badge-info">ideagro</span>
      <span class="badge badge-info">Agronomía</span>
      <span class="badge badge-info">la era azul</span>
      <span class="badge badge-info">Biciclo</span>
      <span class="badge badge-info">CNG</span>
      <span class="badge badge-info">AGA</span>
      <span class="badge badge-info">Colchones el dorado </span>
      <span class="badge badge-info">Hidrospot</span>
      <span class="badge badge-info">Fenixcol</span>
      <span class="badge badge-info">9alliance</span>
      <span class="badge badge-info">Pyncompustar</span>
      <span class="badge badge-info">RED</span>
      <span class="badge badge-info">Ascua</span>
      <span class="badge badge-info">Setronics</span>
      <span class="badge badge-info">ISO</span>
      <span class="badge badge-info">Citypark</span>
      <span class="badge badge-info">coachinghallinternational</span>
      <span class="badge badge-info">la14</span>
      <span class="badge badge-info">Soluciones practicas </span>
      <span class="badge badge-info">Eternity</span>
      <span class="badge badge-info">Vecol</span>
      <span class="badge badge-info">Locatel</span>
      <span class="badge badge-info">Asocreto</span>
      <span class="badge badge-info">UTPL</span>
      <span class="badge badge-info">El tiempo</span>
      <span class="badge badge-info">La checa </span>
      <span class="badge badge-info">gana</span>
      <span class="badge badge-info">Electricas bogota</span>
      <span class="badge badge-info">Redesoft</span>
      <span class="badge badge-info">Rincon aguilar</span>
      <span class="badge badge-info">Salud integral</span>
      <span class="badge badge-info">Dota condor </span>
      <span class="badge badge-info">CCS : Consejo colombiano de seguridad </span>
      <span class="badge badge-info">Eurolife </span>
      <span class="badge badge-info">Mejore sus Finanzas</span>
      <span class="badge badge-info">Proyecto de vida </span>
      <span class="badge badge-info">Securityinafrica </span>
      <span class="badge badge-info">co2cero </span>
      <span class="badge badge-info">Codemodeco </span>
      <span class="badge badge-info">Corbeta </span>
      <span class="badge badge-info">Edu Group</span>
      <span class="badge badge-info">Explora soluciones  </span>
      <span class="badge badge-info">Mcallister </span>
      <span class="badge badge-info">Tu descuento  </span>
      <span class="badge badge-info">Repostería el portal </span>
      <span class="badge badge-info">Gabrica </span>
    </div>
  

</div>
<footer class="bd-footer text-muted mt-5">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li><a href="https://github.com/leonardo15043">GitHub</a></li>
      <li><a href="https://twitter.com/leonardo15043">Twitter</a></li>
      <li><a href="https://www.linkedin.com/in/leonardo-hernandez-a9886435/">Linkedin</a></li>
    </ul>
   </div>
</footer>
   

  
