/* You can add global styles to this file, and also import other style files */
.item-tech .badge{
    margin: 3px;
    padding: 7px;
}
.bd-footer {
    text-align: left;
    font-size: 85%;
    text-align: center;
    background-color: #f7f7f7;
}
.bd-footer-links li {
    display: inline-block;
    margin: 8px;
}
.bd-footer a {
    font-weight: 500;
    color: #495057;
}
.con-pages .badge{
    margin: 6px;
    padding: 6px;
    font-size: 15px;
    font-weight: 300;
}